@model IEnumerable<Market_Store.Models.Contact>
@{
    ViewData["Title"] = "ViewContact";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<style>
    th {
        font-weight: bolder;
        text-align: center;
    }

    tr:hover {
        background-color: gray;
        color: white;
    }

    td {
        text-align: center;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Contacts In Manger</h4>
                        <p class="card-category">  View Contact </p>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="tableData">
                                <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Full Name
                                </th>

                                <th>
                                    Email
                                </th>
                                <th>
                                    Phone
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Massege
                                </th>
                                @foreach (var item in Model)
                                {

                                    <tbody>
                                        <tr>
                                            <td>
                                                @item.ContId
                                            </td>
                                            <td>
                                                @item.Fullname
                                            </td>
                                            <td>
                                                @item.ContEmail
                                            </td>
                                            <td>
                                                @item.ContPhone
                                            </td>
                                            <td>
                                                @item.ContDate

                                            </td>
                                            <td>
                                                @item.ConDescription
                                            </td>

                                        </tr>

                                    </tbody>
                                }

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

