@model IEnumerable<Market_Store.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuntity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuntity)
            </td>
            <td>
                <img src="~/Images/@item.ProductImage" width="100px;" height="100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
