@model IEnumerable<Market_Store.Models.Aboutu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TextA)
            </th>
            <th>
               Image(A)
            </th>
            <th>
             Text(B)
            </th>
            <th>
               Image(B)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TextA)
            </td>
            <td>
                <img src="~/Images/@item.Imagename" width="100px;" height="100px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextB)
            </td>
            <td>
                <img src="~/Images/@item.Imagename2" width="100px;" height="100px;" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AboutId" class="btn btn-dark">Edit</a>
                <a asp-action="Details" asp-route-id="@item.AboutId" class="btn btn-success">Details</a>
                <a asp-action="Delete" asp-route-id="@item.AboutId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
